<%= form_with(url: api_forms_path, method: :post) do |f| %>
  <div>
    <%= f.label :stanowisko, "Stanowisko" %>
    <div contenteditable="true" class="editable-textarea" id="stanowisko"></div>
    <%= f.hidden_field :stanowisko, id: "stanowisko_hidden" %>
  </div>

  <div>
    <%= f.label :lokalizacja, "Lokalizacja" %>
    <%= f.select :lokalizacja, options_for_select(["Niezabyszewo", "Gdańsk", "Ostrava", "Lędziny", "Leicester"]), {}, { id: "lokalizacja_select" } %>
  </div>

  <div>
    <%= f.label :opis, "Opis" %>
    <div contenteditable="true" class="editable-textarea large" id="opis"></div>
    <%= f.hidden_field :opis, id: "opis_hidden" %>
  </div>

  <div>
    <%= f.label :wymagania, "Wymagania" %>
    <div contenteditable="true" class="editable-textarea large" id="wymagania"></div>
    <%= f.hidden_field :wymagania, id: "wymagania_hidden" %>
  </div>

  <div>
    <%= f.label :aktywne, "Aktywne" %>
    <%= f.check_box :aktywne %>
  </div>

  <%= f.submit "Save" %>
<% end %>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    function syncContent(id) {
      let div = document.getElementById(id);
      let hiddenInput = document.getElementById(id + "_hidden");

      div.addEventListener("input", function() {
        hiddenInput.value = div.innerHTML;
      });

      // Initialize hidden input with current content
      hiddenInput.value = div.innerHTML;
    }

    syncContent("stanowisko");
    syncContent("opis");
    syncContent("wymagania");
  });
</script>